# Virtual environment
venv/

# Python files
*.pyc
__pycache__/

# Node modules
frontend/node_modules/

# Environment variables
.env

# Logs
*.log

# Build artifacts
build/
dist/

# IDE specific files
.vscode/
.idea/
